html{
    background-image: url("../../images/barbell-calculator.png");
    height: 100%;
    width: 100%;
    /* margin-left: 2%; */
    /* background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px; */
}
.title{
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}
.TW{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.BW{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.Platesinfo{
    text-align: center;
    margin: 0px;
    padding: 0px; 
}
#clear{
    position: absolute;
    top: 10px;
    left: 10px;
}
/* the text plates */
#plateOptions{
    position: absolute;
    top: 0px;
    left: 60px;
    margin-top: 50px
}
/* the button plates */
.option {
    background: none;
    border: none;
    text-align: center;
    display: block;
    margin:none; 
    padding: 0px;
}
.option h4{
    margin: 4px;
}
#five{
    height: 70px;
    width: 70px;
    margin: none;
}
#ten{
    height: 90px;
    width: 90px;
    margin: none;

}
#twentyfive{
    height: 110px;
    width: 110px;
    margin: none;

}
#thirtyfive{
    height: 130px;
    width: 130px;
    margin: none;

}
#fortyfive{
    height: 170px;
    width: 170px;
    margin: none;

}

/* center barbell */
#barbell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: 750px;
}
/* the button */
.bar {
    background: none;
    border: none;
    display: block;
}
#bars{
   position: absolute;
   right: 50px;
   bottom: 80px; 
}
#bars img{
    height: 100px;
    width: 400px;
    margin: 0px;
}
#bars h4{
    margin: 0px;
}


.bar h4{
    margin: 0px;
    padding: 0px;
}
.newplate{
    display: inline-block;
    border: solid black 1px;
}
.newplate h4{
    margin: 2px;

}
#bench{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    width: 515px;
    margin-top: 160px;
}




/* @media only screen and (max-width: 400px) {
    #barbell {
        position: absolute;
        top: 30%;
        right: 10%;
        height: 30px;
        width: 100px;
    }
    #five{
        height: 10px;
        width: 10px;
    }
    #ten{
        height: 30px;
        width: 30px;
    }
    #twentyfive{
        height: 50px;
        width: 50px;
    }
    #thirtyfive{
        height: 70px;
        width: 70px;
    }
    #fortyfive{
        height: 90px;
        width: 90px;
    }
    #plates{
        text-align: center;
        position: absolute;
        margin-top: 10px;
        left: 40px;
        bottom: 0px;
    }
    .plate {
        background: none;
        border: none;
        text-align: center;
        display: block;
        margin:none; 
        padding: 0px;

    }
    .bar{
        transform: rotate(90deg);
    }
  } */