html{
    background-image: url("../../images/barbell-calculator.png");
    height: 100%;
    width: 100%;
    /* margin-left: 2%; */
    /* background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px; */
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}
.title{
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}
.TW{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin: 15px 0px;
}
.BW{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin: 15px 0px;

}
.Platesinfo{
    text-align: center;
    margin: 0px;
    padding: 0px; 
}
#clear{
    position: absolute;
    top: 10px;
    left: 10px;
}
/* the text plates */
#plateOptions{
    position: absolute;
    top: 0px;
    left: 60px;
    margin-top: 30px
}
/* the button plates */
.option {
    background: none;
    border: none;
    text-align: center;
    display: block;
    margin:none; 
    padding: 0px;
}
.option h4{
    margin: 4px;
}
#p5{
    height: 70px;
    width: 70px;
    margin: none;
}
#p10{
    height: 90px;
    width: 90px;
    margin: none;

}
#p25{
    height: 110px;
    width: 110px;
    margin: none;
}
#p35{
    height: 130px;
    width: 130px;
    margin: none;
}
#p45{
    height: 170px;
    width: 170px;
    margin: none;

}

/* center barbell */
#barbell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: 750px;
}
/* the button */
.bar {
    background: none;
    border: none;
    display: block;
}
#bars{
   position: absolute;
   right: 50px;
   bottom: 80px; 
}
#bars img{
    height: 100px;
    width: 400px;
    margin: 0px;
}
#bars h4{
    margin: 0px;
}


.bar h4{
    margin: 0px;
    padding: 0px;
}

#bench{
    position: absolute;
    display: block;
    left: 33%;
    bottom: 2%;
    width: 50%;
    height: 300px;
    width: 515px;
}
.newplate{
    display: inline-block;
    border: solid black 1px;
}
#Plates{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.newplate h4{
    margin: 2px;
}
a{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media only screen and (max-width: 1280px){
    #bars img{
        height: 115px;
        width: 345px;
        margin: 0px;
    }
    #bench{
        position: absolute;
        display: block;
        left: 28%;
        bottom: 2%;
        width: 50%;
        height: 300px;
        width: 515px;
    }
}
@media only screen and (max-width: 1000px){
    #bench{
        display: none;
    }
}

@media only screen and (max-width: 415px) {
    body{
        height: 100%;
    }
    #stuff{
        position: absolute;
        bottom: 10px;
        margin-left: 10%;
        
    }
    .title{
        text-align: center;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
        font-size: 16px;
    }
    .TW{
        text-align: center;
        margin: 0px;
        padding: 0px;
        margin: 10px 0px;
        font-size: 20px;
    }
    .BW{
        text-align: center;
        margin: 0px;
        padding: 0px;
        margin: 10px 0px;
        font-size: 16px;

    }
    .Platesinfo{
        text-align: center;
        margin: 0px;
        padding: 0px; 
        font-size: 16px;

    }
    #info{
        text-align: center;
    }
    #clear{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    /* end header styles */
    /* start dynamic div styles */
    #Plates{
        width: 100%;
    }
    #Plates .newplate{
        margin-top: 10px;
        margin-left: 5px;
        height: 20px;
        border: none;
    }
    #Plates .newplate h4{
        font-size: 16px;
    }
    /* end dynamic div styles */
    #bench{
        display: none;
    }
    
    /* barbell style */
    #barbell {
        position: absolute;
        top: 200px;
        left: 8%;
        display: block;
        height: 75px;
        width: 325px;
    }

    /* the bar options */
    #bars{
        position: static;
     } 
     #bars img{
         height: 50px;
         width: 275px;
         margin: 0px;
     } 
     #bars h4{
         margin: 0px;
     } 

     /* start Plate styling */
    #plateOptions{
        position: static;
        text-align: center;
        
        margin-top: 0px;
        margin-bottom: 0px; 
    }
    h4{
        font-size: 12px;
    }
    #plateOptions h4, img{
        margin: 0px;
    }
    .option{
        display: inline-block;
        margin: 0px;
    }

    #p5{
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }
    #p10{
        height: 65px;
        width: 65px;
        margin: 0px;    
    }
    #p25{
        height: 75px;
        width: 75px;
        margin-left: 25px;
    }
    #p35{
        height: 80px;
        width: 80px;
        margin-right: 5px;
    }
    #p45{
        height: 95px;
        width: 95px;
        margin-left: 5px;
    }
    /* end plate styling */
    a{
        font-size: 10px;
    }
}