html{
    background-image: url("../../images/barbell-calculator.png");
    height: 100%;
    width: 100%;
    /* margin-left: 2%; */
    /* background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px; */
    font-family: 'Raleway', sans-serif;
}
.title{
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}
.TW{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin: 15px 0px;
}
.BW{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin: 15px 0px;

}
.Platesinfo{
    text-align: center;
    margin: 0px;
    padding: 0px; 
}
#clear{
    position: absolute;
    top: 10px;
    left: 10px;
}
/* the text plates */
#plateOptions{
    position: absolute;
    top: 0px;
    left: 60px;
    margin-top: 30px
}
/* the button plates */
.option {
    background: none;
    border: none;
    text-align: center;
    display: block;
    margin:none; 
    padding: 0px;
}
.option h4{
    margin: 4px;
}
#five{
    height: 70px;
    width: 70px;
    margin: none;
}
#ten{
    height: 90px;
    width: 90px;
    margin: none;

}
#twentyfive{
    height: 110px;
    width: 110px;
    margin: none;
}
#thirtyfive{
    height: 130px;
    width: 130px;
    margin: none;
}
#fortyfive{
    height: 170px;
    width: 170px;
    margin: none;

}

/* center barbell */
#barbell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: 750px;
}
/* the button */
.bar {
    background: none;
    border: none;
    display: block;
}
#bars{
   position: absolute;
   right: 50px;
   bottom: 80px; 
}
#bars img{
    height: 100px;
    width: 400px;
    margin: 0px;
}
#bars h4{
    margin: 0px;
}


.bar h4{
    margin: 0px;
    padding: 0px;
}

#bench{
    position: absolute;
    display: block;
    left: 33%;
    bottom: 2%;
    width: 50%;
    height: 300px;
    width: 515px;
}
.newplate{
    display: inline-block;
    border: solid black 1px;
}
#Plates{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.newplate h4{
    margin: 2px;

}

@media only screen and (max-width: 1280px){
    #bars img{
        height: 115px;
        width: 345px;
        margin: 0px;
    }
    #bench{
        position: absolute;
        display: block;
        left: 28%;
        bottom: 2%;
        width: 50%;
        height: 300px;
        width: 515px;
    }
}
@media only screen and (max-width: 1000px){
    #bench{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    #bench{
        display: none;
    }
    #bars img{
        height: 55px;
        width: 175px;
        margin: 0px;
    }
    #barbell {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 100px;
        width: 350px;
    }
    #plateOptions{
        position: absolute;
        bottom: 0;
        left: 60px;
        margin-top: 30px
    }
    /* the button plates */
    .option {
        background: none;
        border: none;
        text-align: center;
        display: inline-block;
        margin:none; 
        padding: 0px;
    }
    #five{
        height: 10px;
        width: 10px;
        position: absolute;
        bottom: 0px;
    }
    #ten{
        height: 30px;
        width: 30px;
    }
    #twentyfive{
        height: 50px;
        width: 50px;
    }
    #thirtyfive{
        height: 70px;
        width: 70px;
    }
    #fortyfive{
        height: 90px;
        width: 90px;
    }
    
    
  }