html{
    background-image: url("../../images/barbell-calculator.png");
    height: 100%;
    width: 100%;
    /* margin-left: 2%; */
    /* background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px; */
}
.TW{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.BW{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#clear{
    align-content: center;
    margin: 0px;
    padding: 0px;
}
.Plates{
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}
.plate {
    background: none;
    border: none;
    text-align: center;
}
#barbell {
    position: absolute;
    top: 30%;
    right: 23%
}
.bar {
    background: none;
    border: none;
    text-align: center;

}
.newplate{
    display: inline-block;
    border: solid black 1px;
}
.newplate h4{
    margin: 2px;

}

#plates{
    text-align: center;
    position: absolute;
    /* margin-top: 10px; */
    left: 40px;
    top: 50px;
}

#plates button{
    display: block;
    margin:none; 
    padding: 0px;
    /* margin: 20px; */
}
#bars{
    position: absolute;
    right: 40px;
    top: 350px;
}
#bars button{
    display: inline-block;
    margin: 20px;
}